/* Fade-In Animation */
.fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Slide-Up Animation */
  .slide-up {
    animation: slideUp 1s ease-in-out;
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Form Fade Effect */
  .form-fade {
    animation: formFade 1s ease-out;
  }
  
  @keyframes formFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Hover Effects on Buttons */
  .hover-button:hover {
    background-color: #007bff;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
  
  /* Navigation Buttons Styles */
  .nav-button-left, .nav-button-right {
    position: fixed;
    top: 20px;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background 0.3s ease;
  }
  
  .nav-button-left {
    left: 20px;
  }
  
  .nav-button-right {
    right: 20px;
  }
  
  .nav-button-left:hover, .nav-button-right:hover {
    background-color: #1e7e34;
    transform: scale(1.1);
  }
  
  /* Print Button */
  .print-button {
    background-color: #17a2b8;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    transition: transform 0.3s ease;
  }
  
  .print-button:hover {
    transform: scale(1.05);
  }
  

  .attendance-header {
    display: flex;
    justify-content: space-between; /* Header on the left, button on the right */
    align-items: center;
    margin-bottom: 15px;
  }
  
  .leave-tracking-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .leave-tracking-button:hover {
    background-color: #0056b3;
  }